* {
  font-family: sans-serif;
}

body {
  background-color: #008081;
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  margin-right: 100px;
  width: calc(100% - 74px);
}

.header {
  position: absolute;
  margin: 1px;
  width: calc(100% - 4px);
  height: 18px;
  background: rgb(11,37,107); /*not sure*/
  background: linear-gradient(90deg, rgba(11,37,107,1) 0%, rgba(166,202,240,1) 100%);
  z-index: 999;
}

.header__title {
  color: #FFFFFF;
  font-size: 13px;
  padding-left: 20px;
  font-weight: bold;
}

.header__exit {
  position: absolute;
  padding-top: 1px;
  height: 15px;
  width: 15px;
  top: 1px;
  right: 0;
  outline: none;
  background-image: url(./images/exit.png);
}

.main {
  position: relative;
  background-color: #D4D0C8;
  box-shadow: 4px 4px 39px -3px rgba(0,0,0,1);
}

/* LOGIN */

.login {
  position: relative;
  top: 31px;
  padding: 0 110px 0 110px;
  box-sizing: border-box;
  width: 472px;
  height: 160px;
}

.login__info {
  font-size: 14px;
}

.login__username {
  position: absolute;
  font-size: 12px;
  left: 111px;
  top: 80px;
}

.login__form {
  position: absolute;
  height: 23px;
  top: 76px;
  left: 190px;
}

.login__input-username {
  height: calc(100% - 4px);
  padding-left: 2px;
  outline: none;
  width: 180px;
}

.login__btn-login {
  position: absolute;
  top: -1px;
  left: 201px;
  outline: none;
  width: 80px;
  height: 25px;
  border: 1px solid #000000;
  background-color: #D4D0C8;
}

.login__btn--inner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 21px;
}

.login__btn-login:active .login__btn--inner-border {
  border-color: #413F3F #FFFFFF #FFFFFF #413F3F;
}

/* END OF LOGIN */

/* CHAT */

.chat {
  position: relative;
  top: 31px;
  left: 12px;
  width: calc(472px + 200px);
  height: calc(350px + 100px);
}

.chat__messages-outer {
  position: absolute;
  width: 100%;
  height: calc(275px + 100px);
}

.chat__messages-inner {
  height: calc(100% - 2px);
  background-color: #FFFFFF;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
}

.chat__messages--login {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 0 6px 2px;
}

.chat__messages {
  padding-left: 2px;
  font-size: 13px;
}

.chat__form {
  position: absolute;
  height: 23px;
  top: calc(282px + 100px);
}

.chat__input {
  height: calc(100% - 4px);
  padding-left: 2px;
  outline: none;
  width: calc(385px + 200px);
}

.chat__btn-send {
  outline: none;
  width: 80px;
  height: 25px;
  border: 1px solid #000000;
  background-color: #D4D0C8;
  position: absolute;
  top: -1px;
  right: -86px;
}

.chat__btn--inner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 21px;
}

.chat__btn-send:active .chat__btn--inner-border {
  border-color: #413F3F #FFFFFF #FFFFFF #413F3F;
}

/* END CHAT */

/* BORDERS - 1 is parent to 2 | 4 is parent to 3 */

.border--1 {
  border: 1px solid;
  border-color: #D4D0C8 #413F3F #413F3F #D4D0C8;
}

.border--2 {
  border: 1px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

.border--3 {
  border: 1px solid;
  border-color: #413F3F #D4D0C8 #D4D0C8 #413F3F;
}

.border--4 {
  border: 1px solid;
  border-color: #808080 #FFFFFF #FFFFFF #808080;
}

/* END BORDERS */
